<div class="card">
    
    <div class="card-body">
        <form [formGroup]="frmImc">
            <div class="row">
                <div class="input-group">
                    <label>Peso (kg)</label>
                    <input type="text" class="form-control" formControlName="peso">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Estatura (cm)</label>
                    <input type="text" class="form-control" formControlName="estatura">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <button type="button" class="btn btn-success" (click)="calcularIMC()">Calcular</button>
                </div>
            </div>
        </form>
    </div>
    
</div>